### venv

# Virtualenv
.Python
[Bb]in
[Ii]nclude
[Ll]ib
[Ll]ib64
[Ll]ocal
[Ss]cripts
pyvenv.cfg
.venv
pip-selfcheck.json

#ignore result.gif
result.gif

# End of https://www.toptal.com/developers/gitignore/api/opencv,venv
